<div class="pull-right">
  <%= link_to("Add a job", new_admin_job_path, :class => "btn btn-default" ) %>
</div>

<br><br>

<table class="table table-bordred table-striped custab">
    <thead>
        <tr class="info">
            <td>
                职缺
            </td>

            <td>
              收到履历数量
            </td>
            <td>
                薪资下限
            </td>
            <td>
                薪资上限
            </td>
            <td>所在城市</td>
            <td>所在公司</td>
            <td>
                管理选项
            </td>

            <td>
                刊登时间
            </td>
        </tr>
    </thead>

    <% @jobs.each do |job| %>
    <tr>

        <td>
            <%= render_job_status(job) %>

            <%= link_to(job.title, admin_job_path(job)) %>
        </td>
        <td> <%= link_to(job.resume.count, admin_job_resumes_path(job)) %> </td>

        <td> <%= job.wage_lower_bound %> </td>
        <td> <%= job.wage_upper_bound %> </td>
        <td>
            <%= job.location %>
        </td>
        <td>
            <%= job.company %>
        </td>
        <td>

    <%= link_to("", edit_admin_job_path(job), :class => "btn btn-sm btn-info fa fa-pencil-square-o") %>
    <%= link_to("", admin_job_path(job), :method => :delete, :class => "btn btn-sm btn-danger fa fa-trash", :data => { :confirm => "Are you sure?" }) %>
     <% if job.is_hidden %>
        <%= link_to("Publish", publish_admin_job_path(job) , :method => :post, :class => "btn btn-sm btn-success fa fa-eye") %>
     <% else %>
        <%= link_to("Hide", hide_admin_job_path(job), :method => :post,  :class => "btn btn-sm btn-warning fa fa-eye-slash") %>
     <% end %>
</td>


        <td>
            <%= job.created_at %>
        </td>
    </tr>
    <% end %>
</table>

<div class="text-center">
<%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
</div>
