



<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
       <a class="navbar-brand" href="/"><img src='<%= image_url '/images/favicon.ico' %>' >真·24K Offer</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/jobs">Home <span class="sr-only">(current)</span></a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://www.fiverr.com/users/irfan_web/manage_gigs">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://www.fiverr.com/irfan_web">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://www.fiverr.com/irfan_web">click on this link</a></li>
          </ul>
        </li>
      </ul>



      
















                 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li>
                        <div class="form-group form-inline search-bar">
                          <%= render :partial => "jobs/search_bar"%>
                        </div>
                      </li>
                    </ul>









                   <ul class="nav navbar-nav navbar-right">







                     <li>
                                      <% if !current_user %>
                               <li><%= link_to("注册", new_user_registration_path) %> </li>
                               <li><%= link_to("登入", new_user_session_path) %></li>
                             <% else %>
                             <li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
                               <li class="dropdown">
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                     Hi!, <%= current_user.email %>
                                     <b class="caret"></b>
                                 </a>
                                 <ul class="dropdown-menu">
                                   <% if current_user.admin? %>
                                   <li> <%= link_to("Admin Panel", admin_jobs_path) %> </li>
                                   <% end %>
                                   <li><%= link_to 'Edit Profile',edit_user_registration_path %></li>

                                     <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
                                 </ul>
                               </li>
                             <% end %>

                     </li>



                   </ul>
                 </div>
  </div><!--
     /.container-fluid -->
</nav>
