<!DOCTYPE html>
<html>
    <head>
        <title>Job Listing </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      <div class="content">

        <div class="container-fluid">
           <div class="row">
         <%= render "common/navbar" %>
           </div>
            <%= render "common/flashes" %>
            <div class="row">
              <div class="col-md-2">


                <div class="pure-menu custom-restricted-width">
                 <ul class="pure-menu-list">
                     <li class="pure-menu-item pure-menu-selected"><a href="/jobs" class="pure-menu-link">主页</a></li>
                     <li class="pure-menu-item"><a href="/admin/jobs" class="pure-menu-link">管理员控制台</a></li>

                 </ul>
             </div>


              </div>

              <div class="col-md-10">
                <%= yield %>
              </div>
           </div>
        </div>
      </div>

        <%= render "common/footer" %>

    </body>
</html>
